# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.vscode
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.sh
/package-lock.json
package-lock.json
public/.well-known
public/.well-known/*

# Local env files
.env
.env.*
!.env.example

.agents
.github
.agents/*
