@import "tailwindcss";

:root {
  --jay-yellow: #e7b700;
  --jay-yellow-hover: #d0a500;
  --jay-yellow-light: #e9be1a;
  --jay-yellow-lighter: #f1d466;
  --jay-yellow-lightest: #f5f7ff;
  --jay-yellow-dark: #d0a500;
  --jay-yellow-darker: #745c00;
  --jay-yellow-darkest: #453700;
  --jay-beige-dark: #D9CFB4;
  --jay-beige-light: #F6F5ED;
  --font-size: 14px;
  --jay-scroll-1: #827c6c;
  --jay-scroll-2: #575348;
}

@font-face {
  font-family: 'Jay';
  src: url('../fonts/PlanetN.eot');
  src: url('../fonts/PlanetN.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PlanetN.woff2') format('woff2'),
      url('../fonts/PlanetN.woff') format('woff'),
      url('../fonts/PlanetN.ttf') format('truetype'),
      url('../fonts/PlanetN.svg#PlanetN') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jay H';
  src: url('../fonts/BlenderPro-Bold.eot');
  src: url('../fonts/BlenderPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BlenderPro-Bold.woff2') format('woff2'),
      url('../fonts/BlenderPro-Bold.woff') format('woff'),
      url('../fonts/BlenderPro-Bold.ttf') format('truetype'),
      url('../fonts/BlenderPro-Bold.svg#BlenderPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jay P';
  src: url('../fonts/ShareTechMono-Regular.eot');
  src: url('../fonts/ShareTechMono-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ShareTechMono-Regular.woff2') format('woff2'),
      url('../fonts/ShareTechMono-Regular.woff') format('woff'),
      url('../fonts/ShareTechMono-Regular.ttf') format('truetype'),
      url('../fonts/ShareTechMono-Regular.svg#ShareTechMono-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.jay-font {
  font-family: 'Jay';
}

.jay-p {
  font-family: 'Jay P';
}

.jay-h {
  font-family: 'Jay H';
}

html {
  scrollbar-color: var(--jay-scroll-1) var(--jay-scroll-2);
  font-size: var(--font-size);
}

body {
    background-color: whitesmoke;
    font-family: 'Jay P', Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4 {
    color: #747373;
    font-family: 'Jay H';
  }

  p{
    font-family: 'Jay P';
  }

  .w-jcam {
    width: calc(100vw - 20px);
  }

  .h-jcam {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* media queries */

  @media (max-width: 768px) {
    .w-jcam {
      width: calc(100vw - 20px);
    }
    .h-jcam {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .h-jcam {
      height: 100%;
    }
    .w-jcam {
      width: calc(100vw - 40px);
    }
  }

  @media (min-width: 1024px) {
    .h-jcam {
      height: calc(100vh - 40px);
    }
    .w-jcam {
      width: calc(100vw - 40px);
    }
  }

  @media (max-height: 690px) and (min-width: 769px) {
    .w-jcam {
      width: calc(100vw - 40px);
    }
    .h-jcam {
      height: unset;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  @media (max-height: 850px) and (min-width: 769px) {
    .w-jcam {
      width: calc(100vw - 40px);
    }
  }

  /* Define the transition styles */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.scroll-aspect {
  scrollbar-color: var(--jay-scroll-1) var(--jay-scroll-2);
}
